body {
    background-image: url("https://www.shutterstock.com/image-photo/sky-cloud-blue-nature-background-600nw-2598302819.jpg");
    background-size: cover;
}
.card{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 60px;
}

#HeaderMenu{
    background-color: cornflowerblue;
    color: white;
    display: flex;
    /*align-items: center;*/
    /*flex-direction: column;*/
    border: black solid 1px;
    border-radius: 10px;

}

#today{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    width: stretch;

}
#info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: stretch;
}
#header1{
    color: white;
}
#temp1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#rain1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    height: 170px;
    width: 150px;
}
#wind1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    height: 170px;
    width: 150px;
}
#weekshead{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#weeksForc{
    color: white;

}
#weeksTempHeader{
    color: white;
}
#weeksWindHeader{
    color: white;
}
#weeksTemp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    height: 200px;
    width: stretch;
    border: black solid 1px;
    border-radius: 10px;
}
#weeksWind{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    height: 200px;
    width: stretch;
    border: black solid 1px;
    border-radius: 10px;
}
#day1Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day2Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day3Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day4Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day5Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day6Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day7Temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day1Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day2Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day3Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day4Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day5Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day6Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}
#day7Wind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    white-space: pre-line;
    height: 170px;
    width: 150px;
}